:root {
  --blue: #5075ff;
  --transparentwhite: #ffffffe6;
}


/* MAIN LAYOUT */

html {
  font-size: 16px;
}

body, input {
  font-family: calibri, sans-serif;
  font-size: 1rem;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding:  2rem 3rem;
  background:
    radial-gradient(circle at 28.56% 78.55%, #1CD8D2, transparent 84%),radial-gradient(circle at 91.45% 15.32%, #93EDC7, transparent 100%),radial-gradient(circle at 82.83% 61.29%, #3333ff, transparent 81%);
    /*,radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%)*/
}

form {
  display: grid;
  grid-template-columns: 10rem;
  gap: 1rem;
}


#root {
  display: grid;
  gap: 1rem;
}

#splitMain {
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 1fr;
  padding: 0;
}


/* NAV */

nav, #main, #feed, #taskList, #profile, #account, footer {
  padding: 1rem;
  border-radius: 10px;
}

nav {
  background-color: var(--transparentwhite);
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  gap: 1rem;
  justify-items: left;
}

nav a {
  font-weight: 600;
  color: var(--blue);
  text-decoration: none;
}

/* FEED, POSTS */



#feed {
  background-color: var(--transparentwhite);
}

.postDisplay {
  /*background-color: #fff;*/
}


/* PROFILE */

#profile {
  background-color: var(--transparentwhite);
}

/* ACCOUNT */

#account {
  background-color: var(--transparentwhite);
}

/* TASKS */

#taskList  {
  background-color: #ffffe6f2;
  display: grid;
  grid-template-columns: 1fr;
  align-content: flex-start;
  gap: 1rem;
}

#taskInput {
  display: grid;
  grid-template-columns: 2fr 1fr max-content;
  gap: 1rem;
}

#taskInput i {
  position: relative;
  top: 3px;
  color: var(--blue);
}

#taskInput input {
  outline: none;
  border: none;
  border-bottom: 1px solid lightgray;
  background-color: inherit;
}

/*.task {
  background-color: #fff;
}*/


.Collapsible {
  /*background-color: #fff;*/
}

span.Collapsible__trigger {
  display: block;
  border-bottom: 1px solid lightgray;
}

.Collapsible__contentOuter {
  /*background-color: #fff;*/
}




/* FOOTER */


footer {
  background-color: var(--transparentwhite);
}





