:root {
  --blue: #5075ff;
  --transparentwhite: #ffffffe6 ;
}


/* Typography  */

html {
  font-size: 16px;
}

body, input, textarea {
  font-family: calibri, sans-serif;
  font-size: 1rem;
}

h2 {
  font-size: 1.2rem;
  margin-top: 0;
}

a {
  text-decoration: none;
}

a.active {
  color: black;
  pointer-events: none;
}

nav a {
  font-weight: 600;
  color: var(--blue);
}

/* MAIN LAYOUT */


body {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding:  2rem 3rem;
/*  background:
*/    /*radial-gradient(circle at 28.56% 78.55%, #1CD8D2, transparent 84%),radial-gradient(circle at 91.45% 15.32%, #93EDC7, transparent 100%),radial-gradient(circle at 82.83% 61.29%, #3333ff, transparent 81%);*/
   background:
  radial-gradient(circle at 2.03% 52.04%, #00d2ff, transparent 59%),radial-gradient(circle at 97.97% 29.93%, #3a7bd5, transparent 67%),radial-gradient(circle at 14.44% 30.78%, #1117bf, transparent 98%),radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);
  background-attachment: fixed;
}

/*form {
  display: grid;
  grid-template-columns: 10rem;
  gap: 1rem;
}*/

#root {
  display: grid;
  gap: 1rem;
}

nav, main:not(#splitMain), #taskList, footer, .postDisplay, .loadingScreen {
  padding: 1rem;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

nav, main:not(#splitMain), footer, .postDisplay, .loadingScreen {
  background-color: var(--transparentwhite);
}


#splitMain {
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 1fr;
  padding: 0;
}



/* NAV */

nav {
  display: grid;
  grid-template-columns: 1fr max-content;

}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-items: left;
}

nav li {
  display: inline-block;
  padding-left: 1rem;
}

  
/* FEED, POSTS */

#feed {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.postDisplay {
}

.postHeader {
  display: flex;
  font-weight: 600;
}

.postHeader *:first-child {
  flex-grow: 1;
}

/* REGISTER & LOGIN */


#register form, #login form {
  width: min-content;
  display: grid;
  gap: .5rem 3rem;
  margin: auto;
}

#register form div:not(#submitDiv), #login form div:not(#submitDiv) {
  display: grid;
  gap: 1rem;
  grid-template-columns: 7.5rem 10rem;
}


#register form {
  grid-template-columns: 1fr 1fr;
}

#register form #submitDiv {
  grid-column: span 2;
}


#login form {
  grid-template-columns: 1fr;
}


#submitDiv input {
  margin:  1rem auto 0;
  display: block;
}




/* ERRORS */

.alerts {
  margin-bottom: 1.5rem;
}

.alerts>div {
  text-align: center;
}
.error {
  color:  red;
}

/* PROFILE */




/* ACCOUNT */




/* TASKS */

#taskList  {
  /*background-color: #ffffe6f2;*/
  background-color: #ffffe0f5;
  display: grid;
  grid-template-columns: 1fr;
  align-content: flex-start;
  gap: 1rem;
}

/*#taskInput */
.Collapsible__trigger {
  display: flex;
  /*grid-template-columns: ;-columns: 1fr max-content max-content max-content;*/
  /*gap: 1rem;*/
  /*border-bottom: 1px solid lightgray;*/
  border-bottom: 1px solid lightgray;
}

/*#taskInput */
.Collapsible__trigger *:first-child {
  flex-grow: 1;
}



#taskInput i {
  position: relative;
  top: 3px;
  color: var(--blue);
  font-size: .9em;
}

#taskInput input {
  outline: none;
  border: none;
  background-color: inherit;
  font-style: italic;
}

.inputDateDue {

}

#taskInput textarea {
  width: 100%;
  margin-top: 1rem;
  resize: none;
  outline: none;
  border:  none;
  font-style: italic;
}


.Collapsible {
  /*background-color: #fff;*/
}

span.Collapsible__trigger {
  /*display: block;*/
/*  border-bottom: 1px solid lightgray;
*/}

.Collapsible__contentOuter {
  /*background-color: #fff;*/
  color: gray;
}




/* FOOTER */


footer {
  /* for some reason footer was in front of date picker */
  z-index: -1;
}





