:root {
  --blue: #5075ff;
  --darkgray: #53575a;
  --transparentwhite: #ffffffe6 ;
}


/* Typography  */

html {
  font-size: 16px;
}

body, input, textarea {
  font-family: calibri, sans-serif;
  font-size: 1rem;
}

h2 {
  font-size: 1.2rem;
  margin-top: 0;
}

a {
  text-decoration: none;
}

a.active {
  color: black;
  pointer-events: none;
}

nav a {
  font-weight: 600;
  color: var(--blue);
  position: sticky;
  top: 2rem;
  z-index: 2;
}



textarea::placeholder, input::placeholder {
  color: var(--darkgray);
}





/* MAIN LAYOUT */


body {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding:  2rem 3rem;
/*  background:
*/    /*radial-gradient(circle at 28.56% 78.55%, #1CD8D2, transparent 84%),radial-gradient(circle at 91.45% 15.32%, #93EDC7, transparent 100%),radial-gradient(circle at 82.83% 61.29%, #3333ff, transparent 81%);*/
   background:
  radial-gradient(circle at 2.03% 52.04%, #00d2ff, transparent 59%),radial-gradient(circle at 97.97% 29.93%, #3a7bd5, transparent 67%),radial-gradient(circle at 14.44% 30.78%, #1117bf, transparent 98%),radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);
  background-attachment: fixed;
}

/*form {
  display: grid;
  grid-template-columns: 10rem;
  gap: 1rem;
}*/

#root {
  display: grid;
  gap: 1rem;
}

nav, footer, main:not(.splitScreen), #profile, #taskSection, .postDisplay, .loadingScreen {
  padding: 1rem;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

nav, footer, main:not(.splitScreen), #profile, .postDisplay, .loadingScreen {
  background-color: var(--transparentwhite);
}


.splitScreen {
  display: grid;
  gap: 1rem;
  grid-template-columns: 3fr 2fr;
  padding: 0;
}



/* NAV */

nav {
  display: grid;
  grid-template-columns: 1fr max-content;

}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-items: left;
}

nav li {
  display: inline-block;
  padding-left: 1rem;
}

  
/* FEED, POSTS */

#feed {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.heading {
  background: var(--blue);
  border-radius: 10px;
  padding: .5rem 1rem;
}

.postDisplay {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.postHeader {
  display: flex;
  font-weight: 600;
}

.postHeader *:first-child {
  flex-grow: 1;
}

.postBottom {
  display: flex;
  justify-content: space-between;
}


.commentInput textarea {
  width: 100%;
  resize: none;
  outline: none;
  border:  none;
  font-style: italic;
  /*height: 1em;*/
}


.postDisplay .Collapsible__trigger {
  display: flex;
  color:  var(--blue);
  font-weight: 600;
}

.postDisplay .Collapsible__trigger *:first-child {
  flex-grow: 1;
}


.postDisplay .Collapsible__contentInner {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
} 

.commentDisplay div:last-child {
  display: flex;
  justify-content: space-between;
} 

.postDisplay .Collapsible__trigger i {
    transition: transform 700ms; }

.postDisplay .Collapsible__trigger.is-open i {
    transform: rotateZ(180deg); }



/* REGISTER & LOGIN */


#register form, #login form {
  width: min-content;
  display: grid;
  gap: .5rem 3rem;
  margin: auto;
}

#register form div:not(#submitDiv), #login form div:not(#submitDiv) {
  display: grid;
  gap: 1rem;
  grid-template-columns: 7.5rem 10rem;
}


#register form {
  grid-template-columns: 1fr 1fr;
}

#register form #submitDiv {
  grid-column: span 2;
}


#login form {
  grid-template-columns: 1fr;
}


#submitDiv input {
  margin:  1rem auto 0;
  display: block;
}




/* ERRORS */

.alerts {
  margin-bottom: 1.5rem;
}

.alerts>div {
  text-align: center;
}
.error {
  color:  red;
}

/* PROFILE */

#profileGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}


/* ACCOUNT */




/* TASKS */

#taskSection  {
  background-color: #ffffe0f5;
  display: grid;
  grid-template-columns: 1fr;
  align-content: flex-start;
  gap: 2rem;
}

#taskInput .Collapsible__trigger {
  display: inline-grid;
  grid-template-columns: 15rem 10rem 1rem;
  width: 100%;
  gap: 1rem;
  /*border-bottom: 1px solid lightgray;*/
  border-bottom: 1px solid var(--blue);
  /*background-color: aliceblue;*/
}


.taskList  {
  display: grid;
  grid-template-columns: 1fr;
  align-content: flex-start;
  gap: 1rem;
}

.taskList .Collapsible__trigger:not(.completedTaskList > div > span) {
  display: inline-grid;
  grid-template-columns: 15rem 10rem 1rem;
  /*grid-template-columns: 1fr 10rem;*/
  /*width:  calc(100% - 2em);*/
  width: 100%;
  gap: 1rem;
  border-bottom: 1px solid lightgray;
}

#taskSection .Collapsible__trigger > *:first-child {
  flex-grow: 1;
}

#taskSection .Collapsible__trigger > *:last-child {
  /*text-align: center;*/
}


#taskSection i {
  position: relative;
  top: .1rem;
}

#mainInput i {
  color: var(--blue);
}

.react-datepicker-wrapper {
  display: inline-block;
  position: absolute;
  right: 3em;
}

.react-datepicker__input-container {
  width: 10rem !important;
  /*border-bottom: 1px solid lightgray;*/
}

.react-datepicker__tab-loop {
  display: inline-block;
}

.i-wrapper {
  display: inline-block;
  position: absolute;
  width: 1rem;
  right: 1rem;
  text-align: center;
  /*border-bottom: 1px solid lightgray;*/
}

#taskInput i.fa-plus {
  top: -.1rem;
  font-size: .7rem;
  /*position: absolute;*/
  /*transform: translateX(50%);*/
  /*right: 25%;*/
}

#taskInput i.fa-circle {
  position: relative;
  visibility: hidden;
  /*left: 0;*/
  top: -1.2rem;
}

.i-wrapper:hover i.fa-circle {
  visibility: visible !important;
  color: var(--blue);
}


#taskInput .Collapsible__contentInner {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: .5rem;
    background: #b9d6ff;
    background: #ecf6fe;
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid var(--blue);
}


#taskInput .Collapsible__contentInner > div {
  display: grid;
  grid-template-columns: 5rem 1fr;
  gap: 1rem;
  }


#taskInput input {
  outline: none;
  padding: 0;
  border: none;
  background-color: inherit;
  font-style: italic;
  /*border-bottom: 1px solid var(--blue);*/
}

.Collapsible__contentInner input {
  border-bottom: 1px solid var(--blue) !important;
}


#taskInput textarea {
  width: 100%;
  resize: none;
  outline: none;
  border:  none;
  padding: 0;
  font-style: italic;
  background: inherit;
}

.Collapsible__contentInner textarea {
  border-bottom: 1px solid var(--blue) !important;
}



#taskSection .Collapsible__contentOuter {
  color: var(--darkgray);
}

.sibling {
  display: inline-block;
  /*border-bottom: 1px solid lightgray;*/
  /*height: 18px;*/
  /*padding-left: 1em;*/
  position: absolute;
  right: 1em;
}

.is-closed ~ .Collapsible__contentOuter .sibling {
  /*background-color: aquamarine;*/
  position: static;
}

 /* uncompleted tasks icons and color */

#taskSection .uncompleted .fa-circle {
  display: block;
}

#taskSection .uncompleted .fa-check-circle {
  display: none;
}

#taskSection .uncompleted .sibling:hover .fa-circle {
  display: none;
}

#taskSection .uncompleted .sibling:hover .fa-check-circle {
  display: block;
}

#taskSection .past.uncompleted {
  color: red;
}

/* completed tasks icons and color*/

#taskSection .completed .fa-circle {
  display: none;
}

#taskSection .completed .fa-check-circle {
  display: block;
}

#taskSection .completed {
  color: var(--darkgray);
}



.taskList .Collapsible__contentInner:not(.completedTaskList > div > div > .Collapsible__contentInner) {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: .5rem;
  background: #b9d6ff;
  background: #ecf6fe;
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid var(--blue);
}

.taskList .Collapsible__contentInner > div:not(.completedTaskList > div > div > .Collapsible__contentInner div) {
  display: grid;
  grid-template-columns: 5rem 1fr;
  gap: 1rem;
}


.completedTaskList > div > .Collapsible__trigger {
  display: flex;
  color:  var(--blue);
  font-weight: 600;
}

.completedTaskList > div > .Collapsible__trigger *:first-child {
  flex-grow: 1;
}

.completedTaskList .Collapsible__trigger i {
    transition: transform 700ms; }

.completedTaskList .Collapsible__trigger.is-open i {
    transform: rotateZ(180deg); }

.completedTaskList .Collapsible__contentInner {
    padding-top: 1rem;
}

.Collapsible__contentInner {
  word-wrap: break-word;
  word-break: break-all;
}

/*.url {
  word-wrap: break-word;
  word-break: break-all;
}*/




.controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr) !important;
  /*background: white;*/
  justify-items: center;
  position: relative;
}

.controls .icons {
  font-size: .9rem;
  margin-left: 1rem;
  position: relative;
  top: -.1rem;
}

.controls > div:hover {
  color: var(--blue);
}

.controls > div.shared {
  color: var(--blue);
  font-weight: 600;
}



/* IMAGES */

.avatar-medium {
  width: 4rem;
}

.avatar-small {
  width: 2.5rem;
}

.avatar-mini {
  width: 1.5rem;
}




/* FOOTER */


footer {
  /* for some reason footer was in front of date picker */
  z-index: -1;
}





